.story-form__button-submit-story {
  min-height: 48px;
  min-width: 112px;
  border: 1px solid #a7a6a6;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #a7a6a6;
}

.story-form__button-submit-story:hover {
  cursor: pointer;
}

@media (max-width: 1280px) {
  .story-form__button-submit-story {
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .story-form__button-submit-story {
    min-height: 40px;
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 640px) {
  .story-form__button-submit-story {
    min-width: 88px;
    flex: unset;
    order: 1;
    min-height: 40px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .story-form__button-submit-story {
    width: unset;
  }
}
