.block-stories__menu {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1170px;
  margin-left: 55px;
  transition: top .5s;
  top: -10%;
}

@media (max-width: 1024px) {
  .block-stories__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-wrap: unset;
    padding: 0;
    margin-left: 0;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .block-stories__menu {
    margin-left: 0;
  }
}
