.block-stories__menu {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  /* max-height: 48px; */
  margin: 50px;
  width: 100%;
  max-width: 1170px;
}

@media (max-width: 1023px) {
  .block-stories__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-wrap: unset;
    width: calc(100vw - 15px);
    padding: 0;
    margin-left: 15px;
    /* max-height: 40px; */
    padding-left: 25px;
    box-sizing: border-box;
  }
}

@media (max-width: 1439px) {
  .block-stories__menu {
    margin-bottom: 30px;
  }
}
