.popup {
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s, opacity 1s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
}

.popup:hover {
  cursor: pointer;
}
