.popup-city__other-city-list {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}
