.list__theme{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

@media (max-width: 1024px) {
  .list__theme{
    margin-top: 5px;
    margin-bottom: auto;
  }
}
