.story-form__textarea {
width: 100%;
height: calc(38vw - 262px);
max-height: 286px;
background: #F3F2F2;
border-radius: 30px;
border: none;
resize: none;
padding: 13px 20px 16px;
font-family: Proto Grotesk Web Light;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 19px;
letter-spacing: 0.2px;
color: #000000;
margin: 20px 0;
box-sizing: border-box;
}

.story-form__textarea::placeholder {
font-family: Proto Grotesk Web Light;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 19px;
letter-spacing: 0.2px;
color: #A7A6A6;
}

@media (max-width: 1024px) {
  .story-form__textarea {
min-height: 120px;
height: 25vw;
font-size: 12px;
line-height: 17px;
  }
  .story-form__textarea::placeholder {
    font-size: 12px;
    line-height: 17px;
    }
}

@media (max-width: 640px) {
  .story-form__textarea {
    margin: 10px 0 21px;
  }
}
