.block-place__category {
  font-family: Proto Grotesk Web Light;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 19px;
text-align: center;
letter-spacing: 0.2px;
color: #224CFF;
margin-top: auto;
text-decoration: none;
}

@media (max-width: 400px) {
  .block-place__category {
    font-size: 12px;
    line-height: 17px;
  }
}
