.popup__input_type_checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.popup__input_type_checkbox:not {
  color: #ff4e4e;
}

.popup__input_type_checkbox:checked {
  color: #000000;
}
