.navigation__submenu-links {
position: absolute;
opacity: 0;
visibility: hidden;
background: #F3F2F2;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 30px 30px;
left: 0;
top: 20px;
right: 0px;
padding: 20px;
transition: visibility .5s, opacity .5s;
z-index: 2;
}


.navigation__list_type_submenu:hover .navigation__submenu-links{
  opacity: 1;
  visibility: visible;
}
