.popup__form_type_advice {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
}

@media screen and (max-width: 800px) {
  .popup__form_type_advice {
width: unset;
margin: 0 15px 30px;
justify-content: space-between;
  }
}
