.block-guide__caption {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 16px;
}
