.list__button-view{
    background-image: url(./../../../images/list-view.svg);
    margin: 0;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
}
@media (max-width: 1024px) {
    .list__button-view{
        width: 40px;
        height: 40px;
    }
  }