.page {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  font-family: 'Proto Grotesk Web Light', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 1440px) {
  .page {
    max-width: 1440px;
  }
}



.page__header {
  margin-top: 40px;
  margin-bottom: 76px;
  padding: 0 75px 0 75px;
}

@media (max-width: 1440px) {
  .page__header {
    padding: 0 135px 0 135px;
  }
}

@media (max-width: 1024px) {
  .page__header {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 127px;
  }
}


@media (max-width: 900px) {
  .page__header {
    margin-top: 0;
    margin-bottom: 10px;
  }
}


.page__footer {
  padding: 110px 0 80px 0;
}

@media (max-width: 1275px) {
  .page__footer {
    padding: 40px 0 30px 0;
  }
}

.page__content {
  margin-bottom: 119px;
  padding: 0 75px 0 75px;
}

@media (max-width: 1440px) {
  .page__content {
    padding: 0 135px 0 135px;
  }
}

@media (max-width: 1024px) {
  .page__content {
    padding: 0 127px;
    margin-bottom: 100px;
  }
}

@media (max-width: 900px) {
  .page__content {
    padding: 0 15px;
    margin-bottom: 50px;
  }
}
