.header__submenu-account {
  order: 5;
  width: 100%;
  margin-top: 25px;
  text-align: end;
  font-family: PT Root UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
text-align: right;
color: #A7A6A6;
}

@media (max-width: 1375px) {
  .header__submenu-account {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header__submenu-account {
    font-size: 15px;
    line-height: 21px;
  }
}
