@media (min-width: 1840px) {
  .guide-container__card:nth-child(n+20) {
    display: none;
  }
}

@media (max-width: 1839px) {
  .guide-container__card:nth-child(n+13) {
    display: none;
  }
}

@media (max-width: 1199px) {
  .guide-container__card:nth-child(n+8) {
    display: none;
  }
}
