.personal-events::after  {
content: '';
border-bottom: 0.5px solid #464646;
display: block;
margin-top: 31px;
margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .personal-events::after  {
margin: 2px 0 20px;
  }
}
