.footer__logo {
  background: url(../../../images/footer-logo.svg) no-repeat 100% / cover;
  width: 415px;
  height: 76px;
  transform: translate(0, -20px);
  text-decoration: none;
}

.footer__logo:hover {
opacity: .8;
}

@media (max-width: 1275px) {
  .footer__logo {
    width: 252px;
    height: 46px;
    transform: translate(0, 0);
    order: 1;
    margin: auto;
    margin-bottom: 41px;
  }
}
