.popup__select {
  width: 100%;
  margin-bottom: 20px;
  background: #F3F2F2;
  border-radius: 30px;
  border: none;
  height: 48px;
  font-family: Proto Grotesk Web Light;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 19px;
letter-spacing: 0.2px;
color: #A7A6A6;
padding-left: 20px;
background-image: url(../../../images/popup-advice-button-select.svg);
    background-repeat: no-repeat;
    background-position: right 3% top 50%;
    background-size: 24px 19px, 100%;
    appearance: none;
}

.popup__select:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .popup__select {
    margin-bottom: 10px;
    height: 40px;
    background-position: right 9% top 50%;
    background-size: 17px 19px, 100%;
  }
}
