.block-stories__photo_pos {
  margin: 40px auto 50px;
}

@media (max-width: 1024px) {
  .block-stories__photo_pos {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .block-stories__photo_pos {
    margin-bottom: 15px;
  }
}
