.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  row-gap: 77px;
  column-gap: 30px;
}

@media (max-width: 1024px) {
  .video-container {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 26px;
  }
}

@media (max-width: 400px) {
  .video-container {
    row-gap: 23px;
  }
}
