.popup__textarea {
  width: 100%;
  margin-bottom: 16px;
  background: #F3F2F2;
border-radius: 30px;
border: none;
height: 48px;
font-family: Proto Grotesk Web Light;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 19px;
letter-spacing: 0.2px;
color: #000;
height: 48px;
box-sizing: border-box;
padding: 13px 0 16px 20px;
resize: none;
}

.popup__textarea::placeholder {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #A7A6A6;
}

@media (max-width: 800px) {
  .popup__textarea {
    padding: 10px 20px 13px;
    height: 40px;
  }
}
