.block-guest__container-body {
  background: #ff8585;
  border-radius: 400px;
  width: 100%;
  display: flex;
  padding: 70px;
  box-sizing: border-box;
  flex: 1;
}

@media (max-width: 1280px) {
  .block-guest__container-body {
    border-radius: 70px 70px 30px 30px;
    padding: 70px 35px;
  }
}

@media (max-width: 1024px) {
  .block-guest__container-body {
    padding: 35px 15px;
  }
}
