.popup__logo {
  background: url(../../../images/popup-advice-sucess.jpg) no-repeat
    center/cover;
  width: 278px;
  min-height: 174px;
  margin-top: 32px;
}

@media (max-width: 400px) {
  .popup__container_type_advice-sucess {
    width: 240px;
    min-height: 150px;
  }
}
