.header__form-search {
  order: 2;
  margin: 0;
  width: 68%;
  visibility: hidden;
  width:0;
  height: 0;
}

.header__form-search:hover {
  cursor: auto;
}

@media (max-width: 1375px) {
  .header__form-search {
    order: 4;
    width: 100%;
  }
}
