.popup__container_type_popup-city {
width: 400px;
padding: 50px 15px;
flex-direction: column;
align-items: center;
z-index: 20;
overflow: auto;
max-height: 100vh;
}

@media screen and (max-width: 420px) {
  .popup__container_type_popup-city {
    width: 320px;
    padding: 30px 15px;
  }
}
