.popup__container {
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  max-width: 770px;
  background-color: #fff;
  z-index: 2;
  border-radius: 30px;
  box-sizing: border-box;
  padding-bottom: 50px;
  overflow: auto;
  max-height: 100vh;
}

.popup__container:hover {
  cursor: auto;
}

@media screen and (max-width: 800px) {
  .popup__container {
    min-width: 290px;
  }
}
