.popup-delete-story-card__button-delete {
  min-width: 100px;
  min-height: 48px;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000;
  margin-right: 30px;
}

.popup-delete-story-card__button-delete:hover {
  cursor: pointer;
  background: #e0e0e0;
}

.popup-delete-story-card__button-delete:disabled {
  color: #a7a6a6;
  border-color: #a7a6a6;
  pointer-events: none;
}

.popup-delete-story-card__button-delete:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .popup-delete-story-card__button-delete {
    min-width: 78px;
    min-height: 40px;
    font-size: 12px;
    line-height: 17px;
    margin-right: 15px;
  }
}
