.button-next {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/content-section-button-next.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  .button-next  {
    width: 30px;
    height: 30px;
  }
}
