.personal-story__title {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #1a1a1a;
  max-width: 770px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .personal-story__title {
    font-size: 19px;
    line-height: 23px;
  }
}
