.block-calendar {
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
min-height: 520px;
padding: 30px;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
display: none;
}

@media (max-width: 1440px) {
.block-calendar  {
    min-height: 414px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
.block-calendar  {
    min-height: 382px;
    padding: 30px 15px;
  }
}

@media (max-width: 400px) {
.block-calendar  {
    min-height: 290px;
  }
}
