.personal-story__date {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0 0 0 auto;
}

@media (max-width: 1024px) {
  .personal-story__date {
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 500px) {
  .personal-story__date {
    order: -2;
  }
}
