.block-guest__container-header {
  background: #FF8585;
  border-radius: 30px 3px 200px 3px;
  width: calc(47% + 126px);
  min-height: 156px;
}

@media (max-width: 1440px) {
  .block-guest__container-header {
    width: calc(62% + 38px);
    min-height: 124px;
  }
}

@media (max-width: 1024px) {
  .block-guest__container-header {
    min-height: 90px;
  }
}

@media (max-width: 400px) {
  .block-guest__container-header {
    min-width: 229px;
    min-height: 78px;
  }
}
