.block-rights__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 55px;
  width: 100%;
  text-decoration: none;
}

.block-rights__wrapper:hover {
opacity: .8;
}

@media (max-width: 1440px) {
  .block-rights__wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 1024px) {
  .block-rights__wrapper {
    max-width: 290px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
