.select-page__link {
text-decoration: none;
font-family: Proto Grotesk Web Light;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 30px;
text-align: center;
color: #000000;
}

@media (max-width: 1024px) {
  .select-page__link {
    font-size: 14px;
    line-height: 17px;
  }
}
