.story-form__field-add-photo {
  background-color: transparent;
  background: url(../../../images/story-form-button-add-photo.svg) no-repeat center top;
  border: none;
  padding-top: 118px;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #A7A6A6;
  position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .story-form__field-add-photo:hover {
  cursor: pointer;
  opacity: .6;
  }

  @media (max-width: 1024px) {
    .story-form__field-add-photo {
      font-size: 12px;
      line-height: 17px;
      padding: 0;
      padding-top: 94px;
      background-size: 85%;
    }
  }
