.block-calendar__add{
  margin-left: auto;
  border: 1px solid #224CFF;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  width: 48px;
  height: 48px;
  background: url(../../../images/block-calendar.svg) no-repeat center/48%;
}

@media (max-width: 1024px) {
  .block-calendar__add  {
    width: 40px;
    height: 40px;
    }
  }

.block-calendar__add:focus{
  outline: none;
}
