.popup-menu__footer {
  margin: 141px auto 30px;
  display: flex;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #a7a6a6;
}

@media (max-width: 400px) {
  .popup-menu__footer {
    margin-top: 33px;
  }
}
