.navigation__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  transition: opacity 0.2s ease-out;
}

.navigation__link:hover {
  opacity: 0.7;
}
