.block-stories__photo {
  max-width: 1169px;
  width: 100%;
  min-height: 769px;
  background: url(../../../images/block_photo-main.jpg) no-repeat 100% / cover;
  border-radius: 30px;
}

@media (max-width: 1024px) {
  .block-stories__photo {
    min-height: 507px;
  }
}

@media (max-width: 400px) {
  .block-stories__photo {
    min-height: 191px;
  }
}
