.popup-menu__exit {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #A7A6A6;
  border:none;
  background: transparent
}

.popup-menu__exit:focus {
  outline: none;
}

.popup-menu__exit:hover {
  cursor: pointer;
}
