.popup-calendar__logo{
  background: url(../../../images/calendar-success.svg) no-repeat 100%/contain;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    width: 400px;
    min-height: 169px;
}

@media screen and (max-width: 450px) {
  .popup-calendar__logo {
    width: 270px;
  }
}
