.header__logo {
  padding-bottom: 6px;
  display: block;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.12;
  color: #224CFF;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  align-self: flex-start;
}

.header__logo:hover {
  color: #2E2468;
}

@media (max-width: 1375px) {
  .header__logo {
    order: 2;
    margin: 0 auto 0 auto;
    font-size: 17.5px;
    line-height: 17px;
    padding-bottom: 0;
    align-self: unset;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    padding-bottom: 5px;
  }
}
