.story-form__add-photo {
flex: 1;
border-radius: 30px;
display: flex;
box-sizing:border-box;
position: relative;
max-height: 472px;
}

@media (max-width: 1024px) {
  .story-form__add-photo {
    width: 100%;
    flex: unset;
    height: 60vw;
    min-height: 290px;
  }
}
