.questions-form__title {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
  max-width: 650px;
  margin: 0 0 20px
}

@media (max-width: 1440px) {
  .questions-form__title {
margin-bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .questions-form__title {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 20px;
  }
}
