.popup__button-add {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: none;
  background: url(../../../images/button-form-place-add.svg) no-repeat 100%/cover;
}

.popup__button-add:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .popup__button-add  {
    width: 40px;
    height: 40px;
  }
}
