.block-video-header__title {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
  margin: 0 auto 5px;
  text-align: center;
  }

  @media (max-width: 1024px) {
    .block-video-header__title  {
      font-size: 19px;
  line-height: 23px;
    }
  }
