.personal-story__mark {
  border: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .personal-story__mark {
    width: 23px;
    height: 23px;
    margin-top: 9px;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .personal-story__mark {
    margin-top: 0;
  }
}
