.menu__list {
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
justify-content: center;
margin-top: 10px;
}

.menu__list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .menu__list {
justify-content: unset;
flex-wrap: nowrap;
overflow-x: scroll;
  }
}
