.block-guide__caption_style_guide-article {
  margin-top: 8px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #464646;
  max-width: 1170px;
  text-align: start;
}

@media (max-width: 1024px) {
  .block-guide__caption_style_guide-article {
    font-size: 12px;
    line-height: 17px;
  }
}
