.block-message__text {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 50px 30px;
}

@media (max-width: 400px) {
  .block-message__text {
    font-size: 19px;
    line-height: 23px;
    margin: 30px 15px;
  }
}
