.story-form__text {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #a7a6a6;
  margin: 0;
}

@media (max-width: 1024px) {
  .story-form__text {
    font-size: 12px;
    line-height: 17px;
  }
}
