.block-questions__button {
  position: absolute;
  background-color: #C8D1FF;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border: none;
  right: -151px;
  top: 50%;
  transform: translate(0, -37%);
  background-image: url(../../../images/block-question-button-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24%;
}

.block-questions__button:hover {
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 1024px) {
  .block-questions__button  {
    width: 50px;
    height: 50px;
    right: 0;
    top: unset;
    transform: unset;
    bottom: -57px;
  }
}

@media (max-width: 400px) {
  .block-questions__button  {
    bottom: -60px;
  }
}
