.guide-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 80px;
  column-gap: 30px;
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .guide-container {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (max-width: 1024px) {
  .guide-container {
    row-gap: 28px;
  }
}

@media (max-width: 400px) {
  .guide-container {
    row-gap: 29px;
  }
}
