.block_stories__text_margins {
  margin: 25px auto 0;
}

.block_stories__text_margins:first-child {
  margin: 0;
}

@media (max-width: 1024px) {
  .block_stories__text_margins {
margin-top: 19px;
  }
}
