.block-description {
  width: 100%;
  border-radius: 30px;
  padding: 30px 11px 30px 30px;
  box-sizing: border-box;
  min-height: 222px;
  flex: 1;
}

@media (max-width: 1024px) {
  .block-description {
    min-height: 188px;
    padding: 30px 7px 30px 15px;
  }
}
