.footer__copyright {
  margin: 0 0 12px 0;
  width: 100%;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #C8D1FF;
}

@media (max-width: 1275px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.2px;
    margin: 0 30px 0 -4px;
    width: unset;
  }
}

@media (max-width: 1024px) {
  .footer__copyright {
    margin-left: 7px;
  }
}

@media (max-width: 400px) {
  .footer__copyright {
    margin: 0;
    margin-bottom: 5px;
  }
}
