.block-questions {
  min-height: 189px;
  align-items: flex-start;
  text-align: start;
  width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 30px;
}

@media (max-width: 1024px) {
  .block-questions {
    min-height: 161px;
  }
}
