@font-face {
  font-family: 'PT Root UI';
  src: url('PT-Root-UI_Regular.woff2') format('woff2'),
  url('PT-Root-UI_Regular.woff') format('woff'),
  url('PT-Root-UI_Regular.ttf') format('truetype'),
  url('PT-Root-UI_Regular.web.ttf') format('truetype'),
  url('PT-Root-UI_Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
