.personal-events__events {
  width: 270px;
  min-width: 270px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  box-sizing: border-box;
}

.personal-events__events:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .personal-events__events {
    width: 205px;
    min-width: 205px;
    padding: 15px;
  }
}
