.personal-events__events {
max-width: 270px;
border-radius: 30px;
padding: 30px;
display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.personal-events__events:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .personal-events__events {
    max-width: 205px;
  }
}
