.navigation__list_place_footer {
  margin-right: 0;
}
.navigation__list_place_footer:last-child {
  margin-right: 0;
}

@media (max-width: 1275px) {
  .navigation__list_place_footer {
    list-style-type: none;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .navigation__list_place_footer:last-child {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .navigation__list_place_footer {
    list-style-type: none;
  }
}

@media (max-width: 400px) {
  .navigation__list_place_footer {
    margin-bottom: 16px;
  }
  .navigation__list_place_footer:last-child {
    margin-bottom: 19px;
  }
}
