.personal-story__day {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  text-align: right;
  letter-spacing: -2px;
  color: #000000;
  margin: 0;
  width: 18%;
}

@media (max-width: 500px) {
  .personal-story__day {
    order: -1;
    width: 100%;
  }
}
