.questions-form__button-submit {
  border-radius: 100px;
  background: transparent;
  min-width: 120px;
  min-height: 48px;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #a7a6a6;
  border: 1px solid #a7a6a6;
}

.questions-form__button-submit:hover {
  cursor: pointer;
  background: #e0e0e0;
}

@media (max-width: 1024px) {
  .questions-form__button-submit {
    min-width: 95px;
    min-height: 40px;
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 640px) {
  .questions-form__button-submit {
    width: 100%;
  }
}
