.block-atricle__title_style_guide-article {
margin: 0;
font-size: 23px;
line-height: 30px;
color: #000000;
max-width: unset;
transform: unset;
margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .block-atricle__title_style_guide-article {
    margin-top: unset;
    margin-bottom: 20px;
    font-size: 19px;
line-height: 23px;
    }
  }
