.block-video-header__iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: url(../../../images/iframe-video.jpg) no-repeat center/cover;
}

@media (max-width: 1280px) {
  .block-video-header__iframe {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
