.personal-story__description {
  flex: 1;
  border-radius: 30px;
  padding: 30px 30px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-basis: 170px;
}

@media (max-width: 1024px) {
  .personal-story__description {
    padding: 30px 15px;
    width: 100%;
    flex-basis: unset;
    flex: unset;
  }
}
