.block-stories__menu_type_position-fixed {
  position: fixed;
  background: #F3F2F2;
  z-index: 50;
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
  margin-left: 0;
  padding: 30px 0;
  justify-content: center;
  max-width: unset;

}

@media (max-width: 1375px) {
.block-stories__menu_type_position-fixed {
    padding-top: 32px;
  }
}

@media (max-width: 1136px) {
.block-stories__menu_type_position-fixed {
  top: 50px;
  padding-left: 15px;
  }
}

@media (max-width: 640px) {
  .block-stories__menu_type_position-fixed {
    padding: 10px 0 10px 15px;
    }
  }
