.block-video__iframe {
  border-radius: 30px 30px 0px 0px;
  height: 239px;
  border: none;
    width: 100%;
    background: url(../../../images/iframe-video.jpg) no-repeat 100%/cover;
}

@media (max-width: 1440px) {
  .block-video__iframe {
    height: 211px;
  }
}

@media (max-width: 400px) {
  .block-video__iframe {
    height: 163px;
  }
}
