.menu__pseudo-block {
  position: absolute;
  width: 48px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to right, transparent, #f3f2f2);
  z-index: 1;
}

@media (max-width: 1024px) {
  .menu__pseudo-block {
    width: 41px;
  }
}
