.menu__pseudo-block {
position: absolute;
width: 48px;
height: 100%;
top:0;
right: 0;
background: linear-gradient(to right, transparent, #F3F2F2);
}

@media (max-width: 1024px) {
  .menu__pseudo-block {
    width: 41px;
  }
}
