.popup-calendar__close{
   width: 20px;
   height: 20px;
   border: none;
   position: absolute;
   top: 29px;
   right: 29px;
   color: white;
   background: transparent;
   background-image: url(./../../../images/popup-calendar-close.svg);
   background-repeat: no-repeat;
   background-size: cover;
   cursor: pointer;
}
.popup-calendar__close:hover{
    opacity: 0.6;
 }

 @media (max-width: 400px) {
  .popup-calendar__close {
    top: 24px;
    right: 25px;
  }
}
