.block-calendar__title {
  margin: 0;
  width: 50%;
  font-family: Proto Grotesk Web Light;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 30px;
color: #000000;
}

@media (max-width: 1440px) {
  .block-calendar__title {
    width: 70%;
    }
  }

  @media (max-width: 1320px) {
    .block-calendar__title {
      width: 58%;
      }
    }

@media (max-width: 1024px) {
  .block-calendar__title {
    font-size: 19px;
    line-height: 23px;
    }
  }

  @media (max-width: 400px) {
    .block-calendar__title {
      min-width: 166px;
      }
    }
