.block-book__title {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 20px 20px auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media (max-width: 1024px) {
  .block-book__title {
    font-size: 19px;
    line-height: 23px;
    margin: 15px 15px auto;
  }
}

