.header_type_search {
  align-items: unset;
  flex-wrap: wrap;
  position: fixed;
  background: #f3f2f2;
  z-index: 50;
  margin-top: 0;
  padding-top: 40px;
  width: inherit;
  box-sizing: border-box;
  max-width: inherit;
  height: 800px;
  max-height: 100vh;
  overflow: auto;
  align-content: flex-start;
}

.header_type_search:hover {
  cursor: pointer;
}
