.three-columns_style_questions {
  padding-top: 83px;
  margin-right: 100px;
}

@media (max-width: 1024px) {
  .three-columns_style_questions {
    padding-top: 50px;
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .three-columns_style_questions {
    padding-top: 30px;
  }
}
