.video-container_style_movie {
  padding-top: 77px;
}

@media (max-width: 1024px) {
  .video-container_style_movie {
    padding-top: 48px;
  }
}

@media (max-width: 400px) {
  .video-container_style_movie {
    padding-top: 28px;
    row-gap: 27px;
  }
}
