.popup-city__main-city-list {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.popup-city__main-city-list::after{
  content: '';
  border-bottom: 0.5px solid #A7A6A6;
  display: block;
  margin: 15px 0;
}
