.about__accent {
  margin: 80px auto;
}

@media screen and (max-width: 1024px) {
  .about__accent{
    margin: 50px auto;
  }
}


.about__accent::before {
  content: '';
  border-bottom: 1px solid #000000;
  display: block;
  width: 100%;
}

.about__accent::after {
  content: '';
  border-bottom: 1px solid #000000;
  display: block;
  width: 100%;
}
