.popup__field_size_small {
  width: 170px;
  background: #F3F2F2;
  border-radius: 30px;
  height: 48px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .popup__field_size_small {
    width: 125px;
  }
}
