.popup__button-submit {
  margin: 0 100px 50px;
  width: 85px;
  height: 48px;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #a7a6a6;
  border: 1px solid #a7a6a6;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
}

.popup__button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .popup__button-submit {
    margin: 0 15px;
    font-size: 12px;
    line-height: 17px;
    width: 66px;
    height: 40px;
  }
}
