.block-stories__tag-button {
  font-family: "Proto Grotesk Web Light", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  text-align: start;
  text-decoration: none;
  color: #224cff;
  margin-top: 50px;
  display: block;
}

.block-stories__tag-button:hover {
  color: #2e2468;
}

@media (max-width: 1024px) {
  .block-stories__tag-button {
    font-size: 12px;
    line-height: 17px;
    margin-top: 30px;
  }
}
