.block-message__accent {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #2E2468;
}

@media (max-width: 800px) {
  .block-message__accent {
    font-size: 19px;
    line-height: 23px;
    margin: 30px 15px;
  }
}
