.list{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
    margin: 0;
    padding: 0;
}
@media (max-width: 1440px) {
    .list{
        grid-template-columns: repeat(2, 1fr);
    }
  }
@media (max-width: 640px) {
  .list{
      display: flex;
      flex-direction: column;
  }
}
