.header__exit-account {
  border: none;
  background: transparent;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #a7a6a6;
  padding: 0;
}

.header__exit-account:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .header__exit-account {
    font-size: 15px;
    line-height: 21px;
  }
}
