.block-stories__article {
  margin: 0 0 80px;
}

.block-stories__article::after {
  content: "";
  display: block;
  border-bottom: 1px solid #464646;
  width: 100%;
  max-width: 1170px;
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .block-stories__article {
    margin-bottom: 50px;
  }
  .block-stories__article::after {
    margin-top: 50px;
  }
}
