.block-description__text {
height: 162px;
overflow-y: scroll;
font-family: PT Root UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #000000;
margin: 0;
}

.block-description__text::-webkit-scrollbar {
  width: 3px;
}

.block-description__text::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #E8E6E6;
}

@media (max-width: 1024px) {
  .block-description__text {
    height: 128px;
    font-size: 15px;
line-height: 21px;
  }
}
