.navigation__links_place_footer {
  grid-auto-rows: max-content;
  grid-gap: 19px;
}

@media (max-width: 1275px) {
  .navigation__links_place_footer  {
    grid-template-rows: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: unset;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .navigation__links_place_footer  {
    transform: translate(8px, 0);
  }
}


