  .two-columns_style_place {
    display: flex;
    grid-template-columns: unset;
    grid-gap: unset;
    justify-content: unset;
  }

  @media (max-width: 1280px) {
    .two-columns_style_place  {
      flex-direction: column;
    }
  }

