.block-book {
padding: 30px 90px;
border-radius: 30px;
}

@media (max-width: 1440px) {
  .block-book {
    padding: 30px 65px;
  }
}

@media (max-width: 1024px) {
  .block-book {
    padding: 30px 85px;
  }
}

@media (max-width: 400px) {
  .block-book {
    padding: 30px 45px;
  }
}
