.block-links {
  height: 627px;
  min-width: 420px;
  margin-right: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  .block-links {
    min-width: 370px;
  }
}

@media (max-width: 1024px) {
  .block-links {
    height: 552px;
  }
}

@media (max-width: 768px) {
  .block-links {
    margin-right: 0;
    margin-bottom: 30px;
    min-width: 400px;
    height: 433px;
  }
}

@media (max-width: 460px) {
  .block-links {
    min-width: 290px;
  }
}
