.block-links {
  width: 420px;
  min-width: 420px;
  margin-right: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .block-links {
    min-width: 370px;
  }
}

@media (max-width: 768px) {
  .block-links {
    margin-right: 0;
    margin-bottom: 30px;
    /* width: 100%; */
    min-width: unset;
    min-height: 552px;
  }
}

@media (max-width: 460px) {
  .block-links {
    min-width: 290px;
  }
}
