.block-rights__title {
  margin: 0;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #1A1A1A;
}

@media (max-width: 1024px) {
  .block-rights__title {
    font-size: 19px;
    line-height: 23px;
  }
}
