.list__submit_cancel {
  color: #000000;
  border: 1px solid #000000;
  width: 114px;
  margin-left: 15px;
}

.list__submit_cancel:hover {
  background-color: #a7a6a6;
}

@media (max-width: 400px) {
  .list__submit_cancel {
    width: 90px;
  }
}
