.list__submit_cancel {
  color: #000000;
  border: 1px solid #000000;
  width: 114px;
  margin-left: 15px;
}

<<<<<<< HEAD
.list__submit_cancel:hover {
  background-color: #a7a6a6;
=======
.list__submit_cancel:hover{
  background-color: #E0E0E0;
>>>>>>> 034be92d42031a1dc00966641e9ca72369bf4442
}

@media (max-width: 400px) {
  .list__submit_cancel {
    width: 90px;
  }
}
