.header__divisor {
  margin: 0 3px 0 3px;
  width: 20px;
  height: 0px;
  border: 0.7px solid #A7A6A6;
  transform: rotate(90deg);
  order: 3;
}

@media (max-width: 1375px) {
  .header__divisor {
    display: none;
  }
}
